---
- set_fact:
    hostname_to_change: "{{ instance_name | replace('_', '') }}-{{ private_ip }}"

- name: set new instance hostname
  command: "hostnamectl set-hostname {{ hostname_to_change }}"

- name: add new hostname to hosts
  shell: |
    {
      echo '127.0.0.1 {{ hostname_to_change }}'
    } >> /etc/hosts
    sort /etc/hosts | uniq > /etc/hosts
